<section class="px-2 px-md-4">
    <div class="ms-2 ms-xl-5 mt-xl-5 pt-xl-5 pt-3 text-center text-xl-start">
        <h1 class="text-color">Главная</h1>
    </div>
    <div
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-xl-start ms-xl-5 mx-auto gap-3 py-xl-5 py-3">
        <button class="btn btn-secondary px-3" type="button">Сегодня</button>
        <button class="btn border px-3 text-secondary" type="button">Неделя</button>
        <button class="btn border px-3 text-secondary" type="button">Месяц</button>
        <button class="btn border px-3 text-secondary" type="button">Год</button>
        <button class="btn border px-3 text-secondary" type="button">Все</button>
        <button class="btn border px-3 text-secondary" type="button">Интервал</button>
        <span>с</span>
        <a href="#" class="text-secondary">Дата</a>
        <span>по</span>
        <a href="#" class="text-secondary">Дата</a>
    </div>
    <div class="ms-xl-5 row align-items-start">
        <div class="card border-0 col-xl-6">
            <div class="card-header-space-between m-auto">
                <!-- Title -->
                <h2 class="dashboard-pie-title text-center mb-4">
                    Доходы
                </h2>
            </div>
            <div class="d-flex flex-wrap gap-2 m-auto mb-4 justify-content-center">
                <div class="d-flex align-items-center">
                    <div class="bg-danger block"></div>
                    <div class="">Red</div>
                </div>
                <div class="d-flex align-items-center">
                    <div class="bg-warning block"></div>
                    <div class="">Orange</div>
                </div>
                <div class="d-flex align-items-center">
                    <div class="block yellow-block"></div>
                    <div class="">Yellow</div>
                </div>
                <div class="d-flex align-items-center">
                    <div class="bg-success block"></div>
                    <div class="">Green</div>
                </div>
                <div class="d-flex align-items-center">
                    <div class="bg-primary block"></div>
                    <div class="">Blue</div>
                </div>
            </div>
            <div class="card-body text-center d-flex flex-md-column align-items-center justify-content-center">
                <!-- Chart
                            <div class="chart-container h-250px mb-auto">
                                <canvas id="profit" width="300" height="250" style="display: block; box-sizing: border-box; height: 250px; width: 300px;"></canvas>
                            </div> -->
                <div>
                    <img src="images/circle.png" alt="" class="dashboard-image-circle">
                </div>

            </div>
        </div>
        <div class="card border-0 col-xl-6">
            <div class="card-header-space-between">

                <!-- Title -->
                <h2 class="dashboard-pie-title text-center mb-4">
                    Расходы
                </h2>

            </div>
            <div class="d-flex flex-wrap gap-2 m-auto mb-4 justify-content-center">
                <div class="d-flex align-items-center">
                    <div class="bg-danger block"></div>
                    <div class="">Red</div>
                </div>
                <div class="d-flex align-items-center">
                    <div class="bg-warning block"></div>
                    <div class="">Orange</div>
                </div>
                <div class="d-flex align-items-center">
                    <div class="block yellow-block"></div>
                    <div class="">Yellow</div>
                </div>
                <div class="d-flex align-items-center">
                    <div class="bg-success block"></div>
                    <div class="">Green</div>
                </div>
                <div class="d-flex align-items-center">
                    <div class="bg-primary block"></div>
                    <div class="">Blue</div>
                </div>
            </div>
            <div class="card-body text-center d-flex flex-md-column align-items-center justify-content-center">

                <!-- Chart
                            <div class="chart-container h-250px mb-auto">
                                <canvas id="profit" width="300" height="250" style="display: block; box-sizing: border-box; height: 250px; width: 300px;"></canvas>
                            </div> -->
                <div>
                    <img src="images/circle2.png" alt="" class="dashboard-image-circle">
                </div>

            </div>
        </div>
    </div>
</section>