<section class="px-4 d-flex flex-column">
    <div class="ms-2 ms-xl-5 mb-2 mb-xl-5 mt-xl-5 pt-xl-5 pt-3 text-center text-xl-start">
        <h1 class="text-color">Редактирование дохода/расхода</h1>
    </div>


    <div class="ms-xl-5">
        <form action="" class="d-flex flex-column gap-2">
            <input type="text" class="form-control" placeholder="Тип..." aria-label="">
            <input type="text" class="form-control" placeholder="Категория..." aria-label="">
            <input type="number" class="form-control" placeholder="Сумма в $..." aria-label="">
            <input type="number" class="form-control" placeholder="Дата..." aria-label="">
            <input type="text" class="form-control" placeholder="Комментарий..." aria-label="">
            <div class="mt-3 d-flex gap-3">
                <button type="button" class="btn btn-success">Сохранить</button>
                <button type="button" class="btn btn-danger">Отмена</button>
            </div>
        </form>

    </div>
</section>